@model HomeworkRAI.Models.File

@{
    ViewBag.Title = "Details";
    var userDictionary = ViewBag.UserDictionary as Dictionary<int, string>;
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MimeType)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.AccesssPrivilages)
        </dt>

        <dd>
            @foreach (var u in Model.AccesssPrivilages)
            {
                @userDictionary[u]
                <br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
